<div class="banner">
  <h1>Pages#home <i class="fa-solid fa-poo"></i></h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="container">
  <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
  <div class="logo">

  </div>

  <button class="btn btn-javier m-3">Click me!</button>

  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Toggle width collapse
    </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
      </div>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
</div>